/* demo importer */
.button.button-import-default {
    padding: 15px 30px;
    height: 58px;
    background: #1F80AF;
    border: 1px solid #1F80B0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.loading-info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding-top: 12vh;
}

.import-process .loading-info {
    display: block
}

.piko-button,
a.piko-button {
    position: relative;
    padding: 10px 20px;
    min-height: unset;
    display: inline-block;
    height: auto;
    color: #fff;
    background: #222222;
    text-transform: capitalize;
    border: 1px solid #222222;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    box-shadow: none;
    transition: all .2s ease-in-out;
}

a.piko-button:hover,
a.piko-button:focus {
    color: #fff;
}

.piko-button-grey,
a.piko-button-grey {
    background-color: #f7f7f7;
    border-color: #e1e1e1;
    color: #222222;
}

a.piko-button-grey:hover {
    color: #222222;
}

.piko-button-green,
a.piko-button-green {
    background: #82b440;
    border-color: #82b440;
}

a.piko-button-blue {
    background: #0072AA;
    border-color: #0072AA;
}

.piko-button-active,
a.piko-button-active {
    background-color: #c62728;
    border-color: #c62728;
}

.piko-button+.piko-button {
    margin-left: 5px;
}

.import-demos {
    padding-top: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
    background-color: #fff;
    max-height: 650px;
    overflow: hidden;
    overflow-y: auto;
}

.admin-demos {
    margin-bottom: 40px;
}

.import-demos:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    content: '';
    height: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 80%);
}

.import-demos .version-demo {
    margin: 0 30px 30px 0;
    position: relative;
}

.import-demos .version-screen {
    position: relative;
}

.import-icon {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: #0072AA;
    font-size: 18px;
    width: 160px;
}

.import-icon::before {
    content: "\f12a";
    font-family: dashicons;
    display: block;
    font-size: 28px;
    position: relative;
}

.version-imported .import-icon {
    visibility: visible;
    opacity: 1;
}

.version-imported:not(.just-imported):hover .import-icon {
    visibility: hidden;
    opacity: 0;
}

.import-demos .version-screen .demo-preview {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #222222;
    text-align: center;
    padding: 3px 5px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s;
    background: rgba(225, 225, 225, 0.8);
}

.import-demos .version-screen .demo-preview:hover {
    background: rgba(225, 225, 225, 0.5);
}

.version-demo:hover .button-import-version,
.import-demos .version-demo:hover .version-screen .demo-preview {
    opacity: 1;
    visibility: visible;
}


.import-demos .version-screen img {
    display: inherit;
    padding-top: 4.3%;
    background: url(../images/browser.png) no-repeat top;
    background-size: contain;
    transition: all 0.3s;
    margin: 0 auto;
    max-width: 100%;
}

.import-demos .version-demo.version-imported img,
.import-demos .version-demo:hover img {
    opacity: 0.4 !important;
}

.import-demos .version-demo:hover img {
    box-shadow: 0px 9px 10px 1px rgba(0, 0, 0, 0.10);
}

.import-demos .button-import-version {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    cursor: pointer;
    background-color: #0072AA;
    border-color: #0072AA;
}

.import-demos .version-title {
    display: block;
    margin: 15px 0;
    font-size: 16px;
    color: #222222;
}

.install-base-first {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 20;
    top: 185px;
    left: 50%;
    transform: translateX(-50%);
    background-size: contain;
    width: 250px;
    text-align: center;
    transition: all 0.3s;
}

.install-base-first h1 {
    font-size: 26px;
    font-weight: bold;
}

.install-base-first p {
    font-size: 16px;
}

.demos-wrapper {
    position: relative;
}



/* Import demos responsive */
.import-demos .version-demo {
    width: 33.33%;
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

/* lagbe For search by options*/
.piko_invisible {
    visibility: hidden;
    opacity: 0;
}

.piko_hide {
    display: none !important;
}

.piko_show {
    display: block !important;
}

/* alter */
.piko-message {
    font-size: 14px;
    position: relative;
    line-height: 1.5;
    border: 1px solid #e1e1e1;
    border-top: 2px solid #2e7d32;
    background: #fff;
    margin: 0 0 20px;
    padding: 10px 15px 10px 35px;
    box-sizing: border-box;
    text-align: start;
}

.piko-message::before {
    content: "\f348";
    font-family: dashicons;
    position: absolute;
    left: 9px;
    font-size: 18px;
    top: 8px;
}

/* #wpbody-content > .piko-message {
	border: none;
	border-left: 4px solid #2e7d32;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
} */

#wpbody-content .piko-message:before {
    left: 15px;
}

.piko-message.piko-error::before {
    color: #ca4a1f;
}

.piko-message.piko-error {
    border-top-color: #ca4a1f;
}

.piko-message.piko-warning::before {
    color: #f57f17;
}

.piko-message.piko-warning {
    border-top-color: #f57f17;
}

.piko-message.piko-info::before {
    color: #1565c0;
}

.piko-message.piko-info {
    border-top-color: #1565c0;
}

.piko-message p {
    margin-bottom: 10px;
}

.piko-message p.submit {
    padding: 0;
}

.loading-info h3 {
    font-weight: 500;
}

.loading-info h3 em {
    display: block;
    font-size: 14px;
    font-weight: 400;
    font-style: initial;
    margin-top: 6px;
}

.loading-info .piko-loader {
    max-width: 40px;
    margin: 0 auto;
}

.piko-demo-search {
    position: relative;
    border: 1px solid #e1e1e1;
}

.piko-demo-search input {
    border: none;
    padding: 5px 30px 5px 10px;
    line-height: 30px;
    box-shadow: none;
}

.piko-demo-search input:focus {
    border: none;
    box-shadow: none;
}

.piko-demo-search span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;

}

.piko-demo-search span.dashicons-search {
    font-size: 20px;
    right: 10px;
}

.piko-demo-search span.spinner {
    margin-top: 0px;
    margin-right: 9px;
}

.demos-header {
    display: flex;
    justify-content: space-between;
}

.demos-header h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 7px;
}

@media only screen and (max-width: 768px) {

    .demos-header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .demos-header h3 {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .import-demos .version-demo {
        width: 50%;
    }

}

@media only screen and (max-width: 576px) {
    .import-demos .version-demo {
        width: 100%;
    }

}


.piko-demos-wrapper {
    margin-bottom: 2.5vh;
}

.piko-demos-wrapper {
    position: relative;
}

.button-import-default+.piko-demos-wrapper {
    margin-top: 20px;
}

.active-demo .button-import-version {
    display: none;
}

.active-demo .version-screen:before {
    content: "\f12a";
    font-family: dashicons;
    display: block;
    font-size: 45px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 40px;
    height: 40px;
    color: #0072AA;
    line-height: .9;
}

.active-demo img {
    opacity: 0.6;
}
.tc{
    text-align: center !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mt20 {
    margin-top: 20px !important;
}

.mb20 {
    margin-bottom: 20px;
}
.mb70 {
    margin-bottom: 70px !important;
}

.f_r {
    float: right;
}

.mb40 {
    margin-bottom: 40px !important;
}

.piko-button.loading,
.piko-button.dtbaker_loading_button_current {
    transition: none;
    color: transparent !important;
}

.piko-button.loading img,
.piko-button.dtbaker_loading_button_current img {
    opacity: 0;
}

.piko-button .piko-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    opacity: 0;
    visibility: hidden;
}

.piko-button.loading .piko-loader,
.piko-button.dtbaker_loading_button_current .piko-loader {
    opacity: 1;
    visibility: visible;
}
#vc_license-activation-notice {
    display: none;
}


/* text */
.text-center {
    text-align: center;
}

.text-right {
    text-align: end;
}

.text-left {
    text-align: start;
}

.text-uppercase {
    text-transform: uppercase;
}

/* System requirements */

.system-requirements {
    color: #888 !important;
    width: 100%;
    text-align: start;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.system-requirements thead tr:first-child th {
    border-bottom: 1px solid #e1e1e1;
    font-size: 16px;
    color: #222222;
    padding-bottom: 12px;
    text-align: start;
}

.system-requirements th,
.system-requirements td {
    padding: 6px 0;
    font-weight: 400;
}

.system-requirements thead tr:first-child th {
    padding-top: 0;
}

.system-requirements tbody tr:first-child td,
.system-requirements tfoot tr:nth-child(2) td {
    padding-top: 14px;
}

.system-requirements .dashicons-warning,
.system-requirements tr.warning td:last-child {
    color: #ca4a1f;
}

.system-requirements tr.warning .dashicons {
    color: inherit;
}

.system-requirements tr.warning.min td:last-child {
    color: #f57f17;
}

.system-requirements .dashicons-yes:not(.dashicons-warning) {
    color: #2e7d32;
}

.import-demos {
    text-align: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-left: -15px;
    margin-right: -15px;
    max-height: 652px;
    overflow: hidden;
    overflow-y: auto;
}

.admin-demos {
    margin-bottom: 40px;
}

.import-demos-header h3 {
    margin-bottom: 0;
}

.import-demos-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
}
.import-demos:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    content: '';
    height: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 80%);
}

.import-demos .version-preview {
    margin: 0 30px 30px 0;
    position: relative;
}

.import-demos .version-screenshot {
    position: relative;
}
.version-imported .installed-icon {
    visibility: visible;
    opacity: 1;
}

.version-imported:not(.just-imported):hover .installed-icon {
    visibility: hidden;
    opacity: 0;
}

.import-demos .version-screenshot .button-preview {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(225, 225, 225, 0.7);
    color: #222222;
    text-align: center;
    padding: 3px 5px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s;
}

.import-demos .version-screenshot .button-preview:hover {
    background: #e1e1e1;
}

.version-preview:hover .button-import-version,
.import-demos .version-preview:hover .version-screenshot .button-preview {
    opacity: 1;
    visibility: visible;
}
.import-demos .version-screenshot img {
    display: inherit;
    padding-top: 4.3%;
    background: url(../images/browser.png) no-repeat top;
    background-size: contain;
    transition: all 0.3s;
    margin: 0 auto;
    max-width: 100%;
}

.install-base-first {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 20;
    top: 180px;
    left: 50%;
    width: 250px;
    text-align: center;
    transform: translateX(-50%);
    background-size: contain;
    transition: all 0.3s;
}

.install-base-first h1 {
    font-size: 26px;
    font-weight: bold;
}

.install-base-first p {
    font-size: 16px;
}
.purchase-default+.piko-form {
    display: none;
}

.piko-form {
    display: flex;
}

.piko-form input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 9px;
    margin-right: -2px;
}


/* Import demos responsive */
.import-demos .version-preview {
    width: 25%;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
}

@media only screen and (max-width: 1700px) {
    .import-demos .version-preview {
        width: 33.33%;
    }
}



.import-process {
    position: relative;
}

.envato-setup {
    line-height: 1.4;
}

.envato-setup ::-webkit-scrollbar {
    width: 2px;
    background: #e1e1e1;
}

.envato-setup ::-webkit-scrollbar-thumb {
    background: #222222;
}

.envato-setup-content .success_icon {
    margin: 10px 0 45px -30px;
    font-size: 50px;
    color: #f57f17;
}
.envato-setup-content .success_icon + h2 + p {
    text-align: center;
}

.envato-setup-content p,
.envato-setup-content table {
    font-size: 16px;
    color: #555;
    line-height: inherit;
}

.envato-setup-content table.widefat {
    text-align: left;
}

html {
    background-color: #fff;
}

body {
    margin: 30px auto 24px;
    box-shadow: none;
    font-size: 14px;
    color: #555;
    padding: 0;
    min-width: 750px;
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: #222222;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus,
a:active,
a:hover:focus {
    color: #888;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.h3 {
    font-size: 18px;
}

form input {
    margin: 0;
    box-shadow: none;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #222222;
    text-align: start;
}

/* inputs */

input[type=text],
input[type=search],
input[type=radio],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
input[type=password],
input[type=checkbox],
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
select,
textarea {
    border-color: #e1e1e1;
    box-shadow: none;
}

input[type=text]:focus,
input[type=search]:focus,
input[type=radio]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input[type=password]:focus,
input[type=checkbox]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
select:focus,
textarea:focus {
    border-color: #222222;
    box-shadow: none;
}

input[type=checkbox]:checked:before {
    color: #222222;
}

label[for="purchase-code"] {
    display: inline-block;
}

/* system */
.system-requirements {
    border-bottom: 1px solid #e1e1e1;
}

.system-requirements tr:last-child td {
    padding-bottom: 13px;
}

.system-requirements thead tr:first-child th {
    text-transform: uppercase;
    font-size: 14px;
}

.envato-setup-content h1,
.envato-setup-content h2,
.envato-setup-content h3 {
    margin: 0 0 24px;
    border: 0;
    padding: 0;
    color: #222222;
    clear: none;
}

.envato-setup-content h1 em {
    display: block;
    font-style: normal;
    font-size: 22px;
    margin-bottom: 8px;
    color: #f57f17;
}

/* form */

.activate-form {
    display: flex;
}

.activate-form input[type="text"] {
    border-right: none;
}

/* not allowed cursor */
.not-allowed {
    cursor: not-allowed;
}

#wc-logo {
    border: 0;
    margin: 40px 0 10px;
    padding: 0;
    text-align: center
}

#wc-logo img {
    max-width: 150px;
    height: auto;
}


#wc-logo .logo-default {
    display: none;
}

.envato-setup-content {
    position: relative;
    padding: 30px 30px 0;
    overflow: hidden;
    text-align: center;
    border: 1px solid #e1e1e1;
}

.activate-form,
.envato-setup-content p {
    margin: 0 0 20px;
}

.envato-setup-content p {
    text-align: start;
}

/* purchase text */
.purchase-code-bg a {
    color: #888;
    text-decoration: none;
}

.purchase-code-bg a:hover {
    color: #222222;
}

.purchase-code-bg span {
    width: auto;
    height: auto;
    vertical-align: middle;
    color: #2e7d32;
    padding: 0 2px;
}

input[type="text"] {
    width: 100%;
}

p.purchase-code-bg {
    color: #888;
    text-align: center;
}

.envato-setup-content .form-table th {
    width: 35%;
    vertical-align: top;
    font-weight: 400
}

.envato-setup-content .form-table td {
    vertical-align: top
}

.envato-setup-content .form-table td input,
.envato-setup-content .form-table td select {
    width: 100%;
    box-sizing: border-box
}

.envato-setup-content .form-table td input[size] {
    width: auto
}

.envato-setup-content .form-table td .description {
    line-height: 1.5em;
    display: block;
    margin-top: .25em;
    color: #999;
    font-style: italic;
}

.envato-setup-content .form-table td .input-checkbox,
.envato-setup-content .form-table td .input-radio {
    width: auto;
    box-sizing: inherit;
    padding: inherit;
    margin: 0 .5em 0 0;
    box-shadow: none
}

.envato-setup-content .form-table .section_title td {
    padding: 0
}

.envato-setup-content .form-table .section_title td h2,
.envato-setup-content .form-table .section_title td p {
    margin: 12px 0 0
}

.envato-setup-content .form-table td,
.envato-setup-content .form-table th {
    padding: 12px 0;
    margin: 0;
    border: 0
}

.envato-setup-content .form-table td:first-child,
.envato-setup-content .form-table th:first-child {
    padding-right: 1em
}

.envato-setup-content .form-table table.tax-rates {
    width: 100%;
    font-size: .92em
}

.envato-setup-content .form-table table.tax-rates th {
    padding: 0;
    text-align: center;
    width: auto;
    vertical-align: middle
}

.envato-setup-content .form-table table.tax-rates td {
    border: 1px solid #eee;
    padding: 6px;
    text-align: center;
    vertical-align: middle
}

.envato-setup-content .form-table table.tax-rates td input {
    outline: 0;
    border: 0;
    padding: 0;
    box-shadow: none;
    text-align: center
}

.envato-setup-content .form-table table.tax-rates td.sort {
    cursor: move;
    color: #ccc
}

.envato-setup-content .form-table table.tax-rates td.sort:before {
    content: "\f333";
    font-family: dashicons
}

.envato-setup-content .form-table table.tax-rates .add {
    padding: 1em 0 0 1em;
    line-height: 1em;
    font-size: 1em;
    width: 0;
    margin: 6px 0 0;
    height: 0;
    overflow: hidden;
    position: relative;
    display: inline-block
}

.envato-setup-content .form-table table.tax-rates .add:before {
    content: "\f502";
    font-family: dashicons;
    position: absolute;
    left: 0;
    top: 0
}

.envato-setup-content .form-table table.tax-rates .remove {
    padding: 1em 0 0 1em;
    line-height: 1em;
    font-size: 1em;
    width: 0;
    margin: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    display: inline-block
}

.envato-setup-content .form-table table.tax-rates .remove:before {
    content: "\f182";
    font-family: dashicons;
    position: absolute;
    left: 0;
    top: 0
}

.envato-setup-content .envato-setup-plugins {
    width: 100%;
    border-top: 1px solid #eee
}

.envato-setup-content .envato-setup-plugins thead th {
    display: none
}

.envato-setup-content .envato-setup-plugins .plugin-name {
    width: 30%;
    font-weight: 700
}

.envato-setup-content .envato-setup-plugins td,
.envato-setup-content .envato-setup-plugins th {
    padding: 14px 0;
    border-bottom: 1px solid #eee
}

.envato-setup-content .envato-setup-plugins td:first-child,
.envato-setup-content .envato-setup-plugins th:first-child {
    padding-right: 9px
}

.envato-setup-content .envato-setup-plugins th {
    padding-top: 0
}

.envato-setup-content .envato-setup-plugins .page-options p {
    color: #777;
    margin: 6px 0 0 24px;
    line-height: 1.75em
}

.envato-setup-content .envato-setup-plugins .page-options p input {
    vertical-align: middle;
    margin: 1px 0 0;
    height: 1.75em;
    width: 1.75em;
    line-height: 1.75em
}

.envato-setup-content .envato-setup-plugins .page-options p label {
    line-height: 1
}

/* Import */


.envato-wizard-plugins li span.green-success {
    color: #2e7d32;
}

.wc-return-to-dashboard {
    color: #888;
    font-size: 14px;
    margin: 1em 0;
    display: block;
    text-align: center;
    text-decoration: none;
}

.wc-return-to-dashboard:hover {
    color: #555;
}

.wc-return-to-dashboard+.copyrights {
    margin-top: 0;
}

.copyrights {
    text-align: center;
}

.copyrights a {
    text-decoration: none;
}

@media only screen and (max-width: 1440px) {
    .import-demos .version-preview {
        width: 50%;
    }
}

@media only screen and (max-width: 992px) {
    .import-demos .version-preview {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 782px) {
    .envato-setup-content .form-table tbody th {
        width: auto
    }
}

.envato-setup-content .twitter-share-button {
    float: right
}

.envato-setup-content .envato-setup-next-steps {
    text-align: start;
    overflow: hidden;
    margin: 0 0 24px
}

.envato-setup-content .envato-setup-next-steps h2 {
    background: #f5f5f5;
    padding: 5px 10px;
    font-size: 13px;
    color: #010101;
    font-weight: bold;
    margin-bottom: 5px;
}

.envato-setup-content .envato-setup-next-steps .envato-setup-next-steps-first {
    float: left;
    width: 48%;
    box-sizing: border-box
}

.envato-setup-content .envato-setup-next-steps .envato-setup-next-steps-last {
    float: right;
    width: 48%;
    box-sizing: border-box
}

.envato-setup-content .envato-setup-next-steps ul {
    padding: 0 2em 0 0;
    list-style: none;
    margin: 0 0 -.75em
}

.envato-setup-content .envato-setup-next-steps ul li a {
    display: block;
    padding: 0 0 .75em
}

.envato-setup-content .envato-setup-next-steps ul .setup-product a {
    text-align: center;
    font-size: 1em;
    padding: 1em;
    line-height: 1.75em;
    height: auto;
    margin: 0 0 .75em;
    opacity: 1;
}

li a:before {
    color: #82878c;
    font: 400 14px/1 dashicons;
    display: inline-block;
    padding: 0 5px 0 0;
    top: 3px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    vertical-align: top
}

.envato-setup-content .updated,
.envato-setup-content .woocommerce-language-pack,
.envato-setup-content .woocommerce-tracker {
    padding: 24px 24px 0;
    margin: 0 0 24px;
    overflow: hidden;
    background: #f5f5f5
}

.envato-setup-content .updated p,
.envato-setup-content .woocommerce-language-pack p,
.envato-setup-content .woocommerce-tracker p {
    padding: 0;
    margin: 0 0 12px
}

.envato-setup-content .updated p:last-child,
.envato-setup-content .woocommerce-language-pack p:last-child,
.envato-setup-content .woocommerce-tracker p:last-child {
    margin: 0 0 24px
}

.envato-setup-steps {
    padding: 24px 0 0;
    margin: 0 0 30px;
    list-style: none;
    overflow: hidden;
    color: #888;
    display: flex;
}

.envato-setup-steps li {
    flex-grow: 1;
    flex-basis: 20%;
    padding: 18px 0 0;
    margin: 0;
    text-align: center;
    position: relative;
    border-top: 4px solid #e1e1e1;
    font-size: 16px;
}

.envato-setup-steps li:before {
    content: "";
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    border: 3px solid #e1e1e1;
    box-sizing: border-box;
    z-index: 1;
}

.envato-setup-steps li a {
    text-decoration: none;
    color: inherit;
}

.envato-setup-steps li.active,
.envato-setup-steps li.done {
    border-color: #222222;
    color: #222222;
}

.envato-setup-steps li.active:before,
.envato-setup-steps li.done:before {
    border-color: #222222;
}

.envato-setup-steps li.done:before,
.envato-setup-steps li.active:last-child:before {
    background-color: #222222;
}

.envato-setup .envato-setup-actions {
    text-align: end;
    padding: 20px 0;
}

a.skip {
    font-size: 12px;
    color: #888;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

a.skip:hover {
    color: #555;
}

a.skip+.piko-button {
    margin-left: 10px;
}

.dtbaker_loading_button_current {
    color: #CCC !important;
    text-align: center;

}

.envato-wizard-plugins {
    margin-top: -10px;
    padding: 0;
}

.envato-wizard-plugins li {
    position: relative;
    padding: 9px 0;
    text-align: start;
    margin-bottom: 0;
}

.envato-wizard-plugins li.plugins-title {
    font-size: 18px;
    color: #222222;
    border-bottom: 1px solid #e1e1e1;
}

.envato-wizard-plugins li.plugins-title:not(:first-child) {
    padding-top: 20px;
}

.envato-wizard-plugins li span {
    padding: 0 0 0 10px;
    font-size: 16px;
    float: right;
    color: #ca4a1f;
    display: inline-block;
    position: relative;

}

.envato-wizard-plugins li:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
}

.envato-wizard-plugins li label {
    color: #888;
    font-weight: normal;
    margin: 0;
    font-size:
}

.envato-wizard-plugins li label p {
    display: inline-block;
    color: inherit;
    padding: 0;
    margin: 0;
}

.envato-wizard-plugins li label:hover,
.envato-wizard-plugins li label input:checked+p {
    color: #222222;
}

.envato-wizard-plugins li label:hover input:before {
    content: "\f147";
    margin: -3px 0 0 -4px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font: 400 21px/1 dashicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.envato-wizard-plugins li h2 {
    font-weight: bold;
    margin: 20px 0 10px;
}

.envato-setup-pages {
    width: 100%;
}

.envato-setup-pages .check {
    width: 35px;
}

.envato-setup-pages .item {
    width: 90px;
}

.envato-setup-pages td,
.envato-setup-pages th {
    padding: 5px;
}

.envato-setup-pages .status {
    display: none;
}

.envato-setup-pages .installing .status {
    display: table-cell;
}

.envato-setup-pages .installing .status span {
    display: inline-block;
    position: relative;
}

.envato-setup-pages .installing .description {
    display: none;
}

.envato-setup-pages .installing .spinner {
    visibility: visible;
}

.envato-setup-pages .spinner {
    display: inline-block;
    position: absolute;

}

.theme-presets ul {
    list-style: none;
    margin: 0px 0 15px 0;
    padding: 0;
    overflow-x: auto;
    display: block;
    white-space: nowrap;
}

.theme-presets ul li {
    list-style: none;
    display: inline-block;
    padding: 6px;
    margin: 0;
    vertical-align: bottom;
}

.theme-presets ul li.current {
    background: #FE529E;
    border-radius: 5px;
}

.theme-presets ul li a {
    float: left;
    line-height: 0;
}

.theme-presets ul li a img {
    width: 90px;
    height: auto;
}

.import-demos .version-preview {
    float: left;
    width: 33.33%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}


.import-demos .version-title {
    margin: 10px;
}

.version-preview .installed-icon {
    display: none;
}

.version-preview img {
    width: 100%;
}

.import-demos:after {
    content: "";
    display: block;
    clear: both;
    width: 100%;
}

.request-filesystem-credentials-form input[type=text],
.request-filesystem-credentials-form input[type=password] {
    box-shadow: none;
    margin: 0 auto 10px auto;
}
.activation-error {
    line-height: 20px !important;
    color: #df2727 !important;
}


/* support includes */

.tf-support {
    display: -ms-flexbox;
    display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}


.tf-support > div {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: calc(50% - 30px);
    padding: 0 15px;
}

.tf-support  ul {
    padding: 0;
    margin:  0;
}
.tf-support  li {
    padding: 5px 0;
    margin:  0;
    text-align: start;
}
.tf-support > div> p{
    padding-left: 6px;
    margin-bottom: 10px;
}


ul.tf-support {
    -ms-flex-align: center !important;
  align-items: center !important;
}
.tf-support > li {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: calc(33.333333% - 30px);
    padding: 0 15px;
}
.tf-support  li img{
    max-width: 60px;
    margin: 0 auto;
    display: block;
}
.tf-support  li a{
    display: block;
    text-align: center;
    text-decoration: none;
}
.tf-support  li a span{
    margin-top: 20px;
    font-size: 16px;
    display: block;
    
}
.tf-support-title p:first-child{
    margin-bottom: 0;
}
.tf-support-title{
    margin-bottom: 40px;
margin-top: 40px;
}
.tf-support-title p{
    font-size: 20px;
    display: block; 
    text-align: center;
}





.support-includes span {
    font-size: 14px;
}


.support-includes p {
    color: #222;
    padding-bottom: 10px;
    border-bottom:  1px solid #e1e1e1;
    margin-bottom: 5px;
    text-align: start;
}

/*.support-includes p span {
    color: #d8b010;
}*/




.tf-support .includes li a {
    color: #222;
    text-decoration: none;
}

.tf-support .includes strong {
    color: #c62828;
    text-transform: uppercase;
}

.tf-support li:before {
    font: 400 20px/1 dashicons;
    display: inline-block;
    padding: 0 5px 0 0;
    top: 1px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    vertical-align: top;
}
.tf-support .includes li:before {
    content: "\f147";
    color: #2e7d32;
}

.tf-support .excludes li:before {
    content: "\f158";
    color: #c62828;
}